doctype
html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
	title 个人中心
	link(href="http://cdn.bootcss.com/weui/0.4.2/style/weui.css",rel="stylesheet")
	style.
		.page_title{
		text-align:center;
		font-size:34px;
		color:#3cc51f;
		font-weight:400;
		font-family: "Microsoft YaHei";
		margin:0 15%
		}
		.hd {
		    padding: 2em 0;
		}
		.weui_cells_title{
			padding-left: 40px;
		}
		.weui_cell{
			    padding: 18px 40px;
			    font-family: Microsoft YaHei;
		}
		.button{
			width: 85%;
			margin-left: auto;
			margin-right: auto;
		}
		.hd_after{
			float:left;
			padding-top:10px;
			padding-left:20px;
		}

body
	#loadingToast.weui_loading_toast(style="display:none;")
		.weui_mask_transparent
		.weui_toast
			.weui_loading
				.weui_loading_leaf.weui_loading_leaf_0
				.weui_loading_leaf.weui_loading_leaf_1
				.weui_loading_leaf.weui_loading_leaf_2
				.weui_loading_leaf.weui_loading_leaf_3
				.weui_loading_leaf.weui_loading_leaf_4
				.weui_loading_leaf.weui_loading_leaf_5
				.weui_loading_leaf.weui_loading_leaf_6
				.weui_loading_leaf.weui_loading_leaf_7
				.weui_loading_leaf.weui_loading_leaf_8
				.weui_loading_leaf.weui_loading_leaf_9
				.weui_loading_leaf.weui_loading_leaf_10
				.weui_loading_leaf.weui_loading_leaf_11
			p.weui_toast_content 稍等片刻
	.weui_dialog_alert#popup(style="display:none;")
		.weui_mask
		.weui_dialog
			.weui_dialog_hd
				strong.weui_dialog_title#message
			.weui_dialog_bd#msg
			.weui_dialog_ft
				a.weui_btn_dialog.primary(onclick="$('#popup').hide()") 确定
	form(style="display:none" id="confirm" onsubmit="return false;")
		.weui_dialog_confirm
			.weui_mask
			.weui_dialog
				.weui_dialog_hd
					strong.weui_dialog_title 切换账号
				.weui_dialog_bd
					.weui_cell
						.weui_cell_hd
							.weui_label 学号
						.weui_cell_bd.weu_cell_primary
							input(class="weui_input" name="account" type="number" placeholder="请在此输入学号" )
					.weui_cell
						.weui_cell_hd
							.weui_label 查询密码
						.weui_cell_bd.weu_cell_primary
							input(class="weui_input" name="password" type="password" placeholder="请在此输入新查询密码" )
							input#openId(type="hidden" value="#{openId}")
				.weui_dialog_ft
					a.weui_btn_dialog.default(onclick="Profile.close()") 取消
					a.weui_btn_dialog.primary(onclick="$('form').submit()") 确定
	.hd
		.hd_after
			img(src="http://115.28.226.162/img/ecard/back.png" alt="" onclick="location.href='/ecard/#{openId}/center'")
		h1.page_title 个人中心
	.weui_cells_title 基本信息
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 姓名
			.weui_cell_ft #{obj.name}
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 学号
			.weui_cell_ft #{obj.sno}
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 专业
			.weui_cell_ft #{obj.deptname}
	br
	.weui_cells_title 基本信息
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 身份类型
			.weui_cell_ft #{obj.standingname}
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 一卡通编号
			.weui_cell_ft #{obj.cardno}
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 一卡通类型
			.weui_cell_ft #{obj.cardtype}
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 一卡通状态
			.weui_cell_ft #{obj.cardstatus}
	.weui_cells
		.weui_cell
			.weui_cell_bd.weui_cell_primary
				p 绑定银行卡
			.weui_cell_ft #{obj.bankno}
	br
	.button
		a.weui_btn.weui_btn_primary#alter 切&nbsp;换&nbsp;账&nbsp;号
	.button
		a.weui_btn.weui_btn_warn(href="" style="margin-top:20px;") 解&nbsp;除&nbsp;绑&nbsp;定
script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="http://rawgit.com/progrape/weui.js/master/dist/weui.js")
br
script.
	var Profile = {}
	Profile.close = function(){
		$('#confirm').hide();
	}
	$('#alter').click(function(){
		$('#confirm').show();
	})
	$('form').submit(function(){
		
		var pairs = $('form').serialize().split(/&/gi);
		var data = {};
		pairs.forEach(function(pair) {
		pair = pair.split('=');
		data[pair[0]] = decodeURIComponent(pair[1] || '');
		});
		if(!data.account){
			$.weui.topTips('用户名不能为空');
			return;
		}
		if(!data.password){
		    $.weui.topTips('密码不能为空');
		    return;
		}
		$('#confirm').hide();
		$('#loadingToast').show();
		$.ajax({
			type:'POST',
			url:'/ecard/'+$('#openId').val()+'/switch',
			dataType:'json',
			data:{
				account:data.account,
				password:data.password
			},
			success:function(result){
				$('#loadingToast').hide();
				if(result.success){
					location.href="/ecard/"+$('#openId').val()+'/profile'
				}else{
					$('#message').html(result.msg);
					$('#popup').show();
				}
			}
		})
	})



